USE [controltiendas]

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'AF0066_InformePrestamosTiendasCanada')
DROP PROCEDURE dbo.AF0066_InformePrestamosTiendasCanada

GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AF0066_InformePrestamosTiendasCanada]
AS
-- =============================================
-- Autor: Antonio Acosta Murillo
-- Fecha: 25 Septiembre 2013
-- Descripción General: Procedimiento para generar informe de prestamos tiendas Canada
-- =============================================
BEGIN

--************** Selecciona las tiendas canada del servidor 123 ***************
IF EXISTS(SELECT * FROM sysobjects WHERE name ='CatTiendasMccPtmos') DROP TABLE CatTiendasMccPtmos
SELECT NumeroTienda, NumeroCiudad, TipoDeTienda,RegionTienda
INTO CatTiendasMccPtmos
FROM CatTiendas
WHERE tipodetienda='C'

--*************** Crea tabla temporar de prestamos x semana ******************
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPrestamosxSemana') DROP TABLE tmpPrestamosxSemana
CREATE TABLE tmpPrestamosxSemana
(
	Semana INT,
	NumeroTienda SMALLINT,
	Operaciones	INT,
	ImportePrestamos INT,
	anio INT
)

--*************** Recorrido De Semanas x Año ******************
DECLARE @Inicio AS SMALLDATETIME, @Fin AS SMALLDATETIME, @Semana AS INT,@anio AS INT
SET @anio = (YEAR(GETDATE()))

DECLARE tmpCursor CURSOR FAST_FORWARD
FOR SELECT Semana FROM CalendarioRetail WHERE semana BETWEEN 1 AND 53 GROUP BY semana
           OPEN tmpCursor
             FETCH NEXT FROM tmpCursor
              INTO @Semana
               WHILE @@FETCH_STATUS = 0
                 BEGIN
					IF (@semana=1)  
						SELECT @Inicio=rangoinicial,@Fin=rangofinal 
						FROM calendarioretail WHERE semana=@semana  and YEAR(rangofinal)=@anio-2
					ELSE 
						SELECT @Inicio=rangoinicial,@Fin=rangofinal 
						FROM calendarioretail WHERE semana=@semana  and YEAR(rangoinicial) =@anio-2
						 
					INSERT INTO tmpPrestamosxSemana
					SELECT @semana,Numerotienda,Operaciones,ImportePrestamos,@anio-2
					from HistoricoPrestamosTiendas
					where NumeroTienda in (select NumeroTienda From CatTiendasMccPtmos)
					AND FechaOperaciones >= @Inicio
					AND FechaOperaciones <= @Fin
					set @Inicio = '19000101' 
					set @Fin = '19000101'
                   FETCH NEXT FROM tmpCursor
                   INTO @Semana
                 END
           CLOSE tmpCursor
         DEALLOCATE tmpCursor
         
         
DECLARE tmpCursor CURSOR FAST_FORWARD
FOR SELECT Semana FROM CalendarioRetail WHERE semana BETWEEN 1 AND 53 GROUP BY semana
           OPEN tmpCursor
             FETCH NEXT FROM tmpCursor
              INTO @Semana
               WHILE @@FETCH_STATUS = 0
                 BEGIN
					IF (@semana=1)  
						SELECT @Inicio=rangoinicial,@Fin=rangofinal 
						FROM calendarioretail WHERE semana=@semana  and YEAR(rangofinal)=@anio-1
					ELSE 
						SELECT @Inicio=rangoinicial,@Fin=rangofinal 
						FROM calendarioretail WHERE semana=@semana  and YEAR(rangoinicial) =@anio-1
						 
					INSERT INTO tmpPrestamosxSemana
					SELECT @semana,Numerotienda,Operaciones,ImportePrestamos,@anio-1
					from HistoricoPrestamosTiendas
					where NumeroTienda in (select NumeroTienda From CatTiendasMccPtmos)
					AND FechaOperaciones >= @Inicio
					AND FechaOperaciones <= @Fin
					set @Inicio = '19000101' 
					set @Fin = '19000101'
                   FETCH NEXT FROM tmpCursor
                   INTO @Semana
                 END
           CLOSE tmpCursor
         DEALLOCATE tmpCursor
         
         
DECLARE tmpCursor CURSOR FAST_FORWARD
FOR SELECT Semana FROM CalendarioRetail WHERE semana BETWEEN 1 AND 53 GROUP BY semana
           OPEN tmpCursor
             FETCH NEXT FROM tmpCursor
              INTO @Semana
               WHILE @@FETCH_STATUS = 0
                 BEGIN
					IF (@semana=1)  
						SELECT @Inicio=rangoinicial,@Fin=rangofinal 
						FROM calendarioretail WHERE semana=@semana  and YEAR(rangofinal)=@anio
					ELSE 
						SELECT @Inicio=rangoinicial,@Fin=rangofinal 
						FROM calendarioretail WHERE semana=@semana  and YEAR(rangoinicial) =@anio
						 
					INSERT INTO tmpPrestamosxSemana
					SELECT @semana,Numerotienda,Operaciones,ImportePrestamos,@anio
					from HistoricoPrestamosTiendas
					where NumeroTienda in (select NumeroTienda From CatTiendasMccPtmos)
					AND FechaOperaciones >= @Inicio
					AND FechaOperaciones <= @Fin
					set @Inicio = '19000101' 
					set @Fin = '19000101'
                   FETCH NEXT FROM tmpCursor
                   INTO @Semana
                 END
           CLOSE tmpCursor
         DEALLOCATE tmpCursor

-- ********* Operaciones x Semana *********************         
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'TotalZapaterias') DROP TABLE TotalZapaterias
SELECT semana,SUM(Operaciones) Operaciones,SUM(CAST(ImportePrestamos AS BIGINT)) Prestamos, anio
INTO TotalZapaterias
FROM tmpPrestamosxSemana
GROUP BY anio,semana
ORDER BY anio,semana

--************* Tiendas COn Operaciones x Semana ***********
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpTotalesTiendasConOperaciones') DROP TABLE tmpTotalesTiendasConOperaciones
SELECT  DISTINCT NumeroTienda,Semana,anio
INTO tmpTotalesTiendasConOperaciones
FROM tmpPrestamosxSemana 
ORDER BY Semana,anio

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'ZapateriaCalculo') DROP TABLE ZapateriaCalculo
SELECT  COUNT(*) Zapateria,Semana,anio
INTO ZapateriaCalculo
FROM tmpTotalesTiendasConOperaciones 
GROUP BY anio,Semana
ORDER BY anio,Semana 

--*********Mismas Tiendas Con Operaciones x Semana***********
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPtmoAnioAnt2') DROP TABLE tmpPtmoAnioAnt2
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPtmoAnioAnt') DROP TABLE tmpPtmoAnioAnt
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPtmoAnioActual') DROP TABLE tmpPtmoAnioActual
SELECT * INTO tmpPtmoAnioAnt2 FROM tmpPrestamosxSemana WHERE anio = @anio-2
SELECT * INTO tmpPtmoAnioAnt FROM tmpPrestamosxSemana WHERE anio = @anio-1
SELECT * INTO tmpPtmoAnioActual FROM tmpPrestamosxSemana WHERE anio = @anio

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpMismastdaConOpEn2Años') DROP TABLE tmpMismastdaConOpEn2Años
SELECT a.Semana,a.NumeroTienda
INTO tmpMismastdaConOpEn2Años
FROM tmpPtmoAnioAnt2 a
inner join tmpPtmoAnioAnt b ON a.NumeroTienda = B.NumeroTienda and a.Semana=b.Semana
GROUP BY a.Semana,a.NumeroTienda
ORDER BY  a.Semana,a.NumeroTienda

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpMismasTdasConOpEn3Años') DROP TABLE tmpMismasTdasConOpEn3Años
SELECT DISTINCT a.Semana,a.NumeroTienda
INTO tmpMismasTdasConOpEn3Años 
FROM tmpMismastdaConOpEn2Años a
INNER JOIN tmpPtmoAnioActual b ON a.NumeroTienda = B.NumeroTienda and a.Semana=b.Semana
ORDER BY  a.Semana,a.NumeroTienda

IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'MismasZapateriasCalculo') DROP TABLE MismasZapateriasCalculo
SELECT semana,COUNT(*) AS Zapateria
INTO MismasZapateriasCalculo
FROM tmpMismastdaConOpEn2Años
WHERE semana > (SELECT MAX(semana) FROM tmpMismasTdasConOpEn3Años) 
GROUP BY semana
ORDER BY semana

INSERT INTO MismasZapateriasCalculo
SELECT semana,COUNT(*) AS Zapateria
FROM tmpMismasTdasConOpEn3Años
GROUP BY semana
ORDER BY semana

--*********** Mismas Tiendas 2010 y 2011 De Las Semanas Que No Estan En el 2012 ****************
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'MismasZapaterias') DROP TABLE MismasZapaterias
SELECT  a.semana,SUM(a.Operaciones) Operaciones,SUM(CAST(a.ImportePrestamos AS BIGINT)) Prestamos ,a.anio
INTO MismasZapaterias
FROM tmpPrestamosxSemana a
INNER JOIN tmpMismastdaConOpEn2Años b ON a.Numerotienda = b.NumeroTienda and a.Semana = b.Semana
WHERE a.semana > (SELECT MAX(a.semana) FROM tmpPrestamosxSemana a
INNER JOIN tmpMismasTdasConOpEn3Años b ON a.Numerotienda = b.NumeroTienda and a.Semana = b.Semana)
GROUP BY anio,a.semana
ORDER BY anio,a.semana

--*********** Mismas Tiendas Año 2010,2011 y 2012 ****************
INSERT INTO MismasZapaterias
SELECT  a.semana,SUM(a.Operaciones) Operaciones,SUM(CAST(a.ImportePrestamos AS BIGINT)) Prestamos ,a.anio
FROM tmpPrestamosxSemana a
INNER JOIN tmpMismasTdasConOpEn3Años b ON a.Numerotienda = b.NumeroTienda and a.Semana = b.Semana
GROUP BY anio,a.semana
ORDER BY anio,a.semana

--*********** Se crea una tabla con todos los campos para generar el reporte ****************
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'PrestamosTiendasCanada') DROP TABLE PrestamosTiendasCanada
CREATE TABLE PrestamosTiendasCanada
(
	Semana INT,
	TotalZapaterias_OperacionAnt2 INT,
	TotalZapaterias_PrestamosAnt2 BIGINT,
	TotalZapaterias_OperacionAnt INT,
	TotalZapaterias_PrestamosAnt BIGINT,
	TotalZapaterias_OperacionActual INT,
	TotalZapaterias_PrestamosActual BIGINT,
	TotalZapaterias_ZapateriaCalculoAnt2 INT,
	TotalZapaterias_ZapateriaCalculoAnt INT,
	TotalZapaterias_ZapateriaCalculoActual INT,
	MismasZapaterias_OperacionAnt2 INT,
	MismasZapaterias_PrestamosAnt2 BIGINT,
	MismasZapaterias_OperacionAnt INT,
	MismasZapaterias_PrestamosAnt BIGINT,
	MismasZapaterias_OperacionActual INT,
	MismasZapaterias_PrestamosActual BIGINT,
	MismasZapaterias_ZapateriaCalculoTotal INT
)
--*********** Inserta en la tabla TotalZapaterias los datos del año anterior2 ****************
INSERT INTO PrestamosTiendasCanada (semana,TotalZapaterias_OperacionAnt2, TotalZapaterias_PrestamosAnt2)
SELECT semana, Operaciones, Prestamos
FROM TotalZapaterias
WHERE anio=YEAR(GETDATE())-2

--*********** Si el año no es bisiesto, le agrega un registro más ****************
IF ((SELECT COUNT(*) FROM TotalZapaterias WHERE anio=YEAR(GETDATE())-2) <> 52)
BEGIN
	INSERT INTO PrestamosTiendasCanada (semana,TotalZapaterias_OperacionAnt2,TotalZapaterias_PrestamosAnt2)
	VALUES(52,null,null)
END

--*********** Actualiza las operaciones y prestamos del año anterior ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.TotalZapaterias_OperacionAnt = TotalZapaterias.Operaciones,
    PrestamosTiendasCanada.TotalZapaterias_PrestamosAnt = TotalZapaterias.Prestamos
FROM
    PrestamosTiendasCanada
INNER JOIN    TotalZapaterias 
ON
    PrestamosTiendasCanada.semana = TotalZapaterias.semana
WHERE anio=YEAR(GETDATE())-1

--*********** Actualiza las operaciones y prestamos del año actual ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.TotalZapaterias_OperacionActual = TotalZapaterias.Operaciones,
    PrestamosTiendasCanada.TotalZapaterias_PrestamosActual = TotalZapaterias.Prestamos
FROM
    PrestamosTiendasCanada
INNER JOIN    TotalZapaterias 
ON
    PrestamosTiendasCanada.semana = TotalZapaterias.semana
WHERE anio=YEAR(GETDATE())

--*********** Actualiza ZapateriaDelCalculo del año anterior2 ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.TotalZapaterias_ZapateriaCalculoAnt2 = ZapateriaCalculo.Zapateria
FROM
    PrestamosTiendasCanada
INNER JOIN    ZapateriaCalculo 
ON
    PrestamosTiendasCanada.semana = ZapateriaCalculo.semana
WHERE anio=YEAR(GETDATE())-2

--*********** Actualiza ZapateriaDelCalculo del año anterior ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.TotalZapaterias_ZapateriaCalculoAnt = ZapateriaCalculo.Zapateria
FROM
    PrestamosTiendasCanada
INNER JOIN    ZapateriaCalculo 
ON
    PrestamosTiendasCanada.semana = ZapateriaCalculo.semana
WHERE anio=YEAR(GETDATE())-1

--*********** Actualiza ZapateriaDelCalculo del año actual ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.TotalZapaterias_ZapateriaCalculoActual = ZapateriaCalculo.Zapateria
FROM
    PrestamosTiendasCanada
INNER JOIN    ZapateriaCalculo 
ON
    PrestamosTiendasCanada.semana = ZapateriaCalculo.semana
WHERE anio=YEAR(GETDATE())

--*********** Actualiza Mismas Zapaterias del año anterior2 ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.MismasZapaterias_OperacionAnt2 = MismasZapaterias.Operaciones,
    PrestamosTiendasCanada.MismasZapaterias_PrestamosAnt2 = MismasZapaterias.Prestamos
FROM
    PrestamosTiendasCanada
INNER JOIN    MismasZapaterias 
ON
    PrestamosTiendasCanada.semana = MismasZapaterias.semana
WHERE anio=YEAR(GETDATE())-2

--*********** Actualiza Mismas Zapaterias del año anterior ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.MismasZapaterias_OperacionAnt = MismasZapaterias.Operaciones,
    PrestamosTiendasCanada.MismasZapaterias_PrestamosAnt = MismasZapaterias.Prestamos
FROM
    PrestamosTiendasCanada
INNER JOIN    MismasZapaterias 
ON
    PrestamosTiendasCanada.semana = MismasZapaterias.semana
WHERE anio=YEAR(GETDATE())-1

--*********** Actualiza Mismas Zapaterias del año actual ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.MismasZapaterias_OperacionActual = MismasZapaterias.Operaciones,
    PrestamosTiendasCanada.MismasZapaterias_PrestamosActual = MismasZapaterias.Prestamos
FROM
    PrestamosTiendasCanada
INNER JOIN    MismasZapaterias 
ON
    PrestamosTiendasCanada.semana = MismasZapaterias.semana
WHERE anio=YEAR(GETDATE())

--*********** Actualiza Zapaterias del Calculo 2011, 2012, 2013 ****************
UPDATE
    PrestamosTiendasCanada
SET
    PrestamosTiendasCanada.MismasZapaterias_ZapateriaCalculoTotal = MismasZapateriasCalculo.Zapateria
FROM
    PrestamosTiendasCanada
INNER JOIN    MismasZapateriasCalculo
ON
    PrestamosTiendasCanada.semana = MismasZapateriasCalculo.semana

--*********** Crea tabla Final "PrestamosTiendasCanada_FINAL ****************
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'HistoricaPrestamosTiendasCanada') DROP TABLE HistoricaPrestamosTiendasCanada
SELECT 
semana,
ISNULL(TotalZapaterias_OperacionAnt2,0) TotalZapaterias_OperacionAnt2,
ISNULL(TotalZapaterias_PrestamosAnt2,0) TotalZapaterias_PrestamosAnt2,
ISNULL(TotalZapaterias_OperacionAnt,0) TotalZapaterias_OperacionAnt,
ISNULL(TotalZapaterias_PrestamosAnt,0) TotalZapaterias_PrestamosAnt,
ISNULL(TotalZapaterias_OperacionActual,0) TotalZapaterias_OperacionActual,
ISNULL(TotalZapaterias_PrestamosActual,0) TotalZapaterias_PrestamosActual,
ISNULL(TotalZapaterias_ZapateriaCalculoAnt2,0) TotalZapaterias_ZapateriaCalculoAnt2,
ISNULL(TotalZapaterias_ZapateriaCalculoAnt,0) TotalZapaterias_ZapateriaCalculoAnt,
ISNULL(TotalZapaterias_ZapateriaCalculoActual,0) TotalZapaterias_ZapateriaCalculoActual,
ISNULL(MismasZapaterias_OperacionAnt2,0) MismasZapaterias_OperacionAnt2,
ISNULL(MismasZapaterias_PrestamosAnt2,0) MismasZapaterias_PrestamosAnt2,
ISNULL(MismasZapaterias_OperacionAnt,0) MismasZapaterias_OperacionAnt,
ISNULL(MismasZapaterias_PrestamosAnt,0) MismasZapaterias_PrestamosAnt,
ISNULL(MismasZapaterias_OperacionActual,0) MismasZapaterias_OperacionActual,
ISNULL(MismasZapaterias_PrestamosActual,0) MismasZapaterias_PrestamosActual,
ISNULL(MismasZapaterias_ZapateriaCalculoTotal,0) MismasZapaterias_ZapateriaCalculoTotal
INTO HistoricaPrestamosTiendasCanada
FROM PrestamosTiendasCanada

/*===============================================================================================*/  
/*                                  Limpiando Temporales                                         */  
/*===============================================================================================*/  
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'MismasZapateriasCalculo') DROP TABLE MismasZapateriasCalculo
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'MismasZapaterias') DROP TABLE MismasZapaterias
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpMismasTdasConOpEn3Años') DROP TABLE tmpMismasTdasConOpEn3Años
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpMismastdaConOpEn2Años') DROP TABLE tmpMismastdaConOpEn2Años
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPtmoAnioAnt2') DROP TABLE tmpPtmoAnioAnt2
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPtmoAnioAnt') DROP TABLE tmpPtmoAnioAnt
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPtmoAnioActual') DROP TABLE tmpPtmoAnioActual
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'ZapateriaCalculo') DROP TABLE ZapateriaCalculo
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpTotalesTiendasConOperaciones') DROP TABLE tmpTotalesTiendasConOperaciones
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'TotalZapaterias') DROP TABLE TotalZapaterias
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'tmpPrestamosxSemana') DROP TABLE tmpPrestamosxSemana
IF EXISTS (SELECT * FROM SYSOBJECTS WHERE name LIKE 'PrestamosTiendasCanada') DROP TABLE PrestamosTiendasCanada

END
